*.sct
*.scvd
*.bin
*.disasm
*.trace
*.map
*.lst
*.iex
*.crf
*.d
*.o
*.htm
*.hex
*.lnp
*.exe
*.dll
*.xml
*.log
*.config
*.docx
*.cmd
*.md
*.sh
*.template
*.flm
*.pem
*.tmp
*.key
*.json
*.axf
*.zip
*.ini
*.dep

;keil工程生成的不重要文件
*.uvguix.*
*.uvopt
*.uvoptx